* {
    box-sizing: border-box;    
}

body {
    background-image: url(../images/exclusive_paper.png);
    font-size: 20px;
    min-width: 480px;
}

header {
    background-color: lightblue;
    margin-bottom: 40px;
}

/* change */
hr {
    border-top: 2px solid black; 
}

#logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 75%;
}

h1 {
    text-align: center;
}

.container {
    padding: 30px;
    min-width: 480px;
    max-width: 95%;
}

#main {
    justify-content: space-around; 
}

.row {
    margin: auto;
    text-align: center;
    flex-wrap: wrap-reverse;
}

.col {
    background-color: rgb(173, 216, 230, .3);
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 430px;
}

#colOne {    
    align-items: center;
}

#pageImage {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#colTwo {    
    max-width: 280px;

}

#colThree { 

}

#randomWord {
    letter-spacing: 8px;
    font-size: 20px;
    justify-content: center;
}



/* Media Queries */
/* @media all and (max-width: 1690px) {
    .wrapper {
        width: 100%;
    }
    .header {
        height: 30%;
    } 
} */

/* @media all and (max-width: 1280px) { ...}
@media all and (max-width: 980px) { ... }
@media all and (max-width: 736px) { ... }
@media all and (max-width: 480px) { ... }
*/





/*
header {
    /* padding: 15px; */
    /* background-color: #19c0f5;    
} 
.jumbotron {    
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 40px;       
}
.container {
    width: 1000px;
    margin: auto;
}
 .main {
    width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: lightpink;
} 
.title {
    font-weight: bold;
    width: 100%;
}
col {
    column-rule-style: dotted;
    
} 
.stats {
    background-color: magenta;
}
h1 {    
    margin-bottom: 0px;
    text-align: center;    
}
*