:root {
	--color-primary: #afdbf6;
	--box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	--bold-text: 600;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-image: url("../images/exclusive_paper.png");
	font-family: "Zilla Slab", Times, "Times New Roman", Georgia, serif;
	line-height: 1.5;
}

.jumbotron {
	background-color: var(--color-primary);
	box-shadow: var(--box-shadow);
	margin-bottom: 1rem;
}

/* Text */

.boldText {
	font-weight: var(--bold-text);
}

.primaryText {
	font-size: 2rem;
}

h1,
h2 {
	text-align: center;
}

h1 {
	font-size: 3.6rem;
	letter-spacing: 2px;
}

h2 {
	font-size: 2.5rem;
	letter-spacing: 1.5px;
}

/* Buttons */

.primaryButton {
	background-color: var(--color-primary);
	border-radius: 4px;
	box-shadow: var(--box-shadow);
	font-size: 1.8rem;
	font-weight: var(--bold-text);
	transition: transform 0.2s ease-out;
}

.primaryButton:hover {
	background: rgb(175, 219, 246, 0.4);
}

#startBtn {
	width: 75%;
	margin: 0 auto;
	margin-top: 2rem;
}

/*  */

.stats-container {
	border: 1px solid #999;
	border-left: 0;
	border-right: 0;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 2rem;
	padding: 0;
}

#wordContainer {
	text-align: center;
	margin: 1rem 0 2rem 0;
}

#alphabetContainer {
	width: 98%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

/*  */

img {
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.office-image {
		max-height: 68vh;
		margin: auto;
	}

	#alphabetContainer {
		max-width: 75vw;
	}
}

@media screen and (min-width: 1400px) {
	/* .office-image {
		max-height: 68vh;
		margin: auto;
	} */

	#alphabetContainer {
		max-width: 60vw;
		font-size: 6rem;
	}

	.primaryText {
		font-size: 2.5rem;
	}

	.letterBtn {
		padding: 1.5rem 0 1.5rem 0;
	}

	h1 {
		font-size: 4rem;
		letter-spacing: 2px;
	}

	h2 {
		font-size: 3rem;
		letter-spacing: 1.5px;
	}
}
