/*

* {
    box-sizing: border-box;
}

*/

body {
    background-image: url("../images/exclusive_paper.png");
}


.jumbotron {
    max-height: 300px;
    margin-bottom: 0px;
    padding: 2rem;
    background-color: #afdbf6;
}

h1 {
    letter-spacing: 2px

}

h1, h2 {
    font-family: 'Zilla Slab', serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.game-area {
    /* position: relative; */
    font-size: 20px;
    letter-spacing: 3px;
}

.startBtn {
    /* position: absolute;
    left: 50%; */
    background-color: #afdbf6;
    margin-top: 20px;
    font-weight: 500;
}

.office-image {
    max-width: 90%;
}

#wordContainer {
    font-size: 20px;
    font-weight: bold;
}

.letterBtn {
    background-color: #afdbf6;
    font-size: 20px;
    font-weight: bold;
}

.letterBtn:disabled {
    background-color: white;
    font-weight: normal;
}

/* @media (min-width: 576px) {
    .jumbotron {
        font-size: 5px;
    }
} */

/* // Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/
